variant: fcos
version: 1.5.0

ignition:
  config:
    merge:
      - local: bootstrap-in-place-for-live-iso.ign

passwd:
  users:
    - name: core
      password_hash: "$6$jamyHU6tcWovxP.e$rasKzY7tDn.LlazCF6Z4osY86aaXGEFOnkDSClPCw1B/DzPn2knv/kHCwncynti2r3k8MSLwcEsyEwqkDwZd8/"
      ssh_authorized_keys:
        - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIN7zgvPt+AVZF06sA0jRY6MByNyytlGsMn6z+KMjjX7/ dkhater@redhat.com-sno
        - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDgBv89yZuWD1AfOi+3CGI7FWawpwYQVrxLCjfxPnP7KjEGGAHGsorce5XGNu1W57ND8HrdLyQf4SLfHAwVyRvRfIf8NzakUuxR4khHCpxE+F8ByTyg23Y17DkfBM/RCXcdMU1vvDkfCdsVMOY8KKhLL412560KfxQhQBKsCmssMZQ4Ii5b18cJfbwk+JnNC0fRiV/h2qrOsRQ7XvJynHHxMfqfih3BLnVo83FSf3G7T9LwpS7BQK4BsO14ahztMXxkU7j+ZdRd3+gUK3L9E0Y/fdtrMXgnG6OphkFEGTY7hlpV9Ppr7t5mDDl6LPMDWpWaZ0xz61IqKbrjXVPv63xF ravanelli@renatas-air.br.ibm.com

storage:
  files:
    - path: /etc/hostname
      mode: 0644
      overwrite: true
      contents:
        inline: ${FULL_HOSTNAME}
    - path: /etc/NetworkManager/system-connections/${INTERFACE}.nmconnection
      mode: 0600
      overwrite: true
      contents:
        inline: |
          [connection]
          id=${INTERFACE}
          type=ethernet
          interface-name=${INTERFACE}
          autoconnect=true

          [ipv4]
          method=manual
          addresses=${IP_ADDRESS}/${SUBNET_MASK}
          gateway=${GATEWAY}
          dns=${DNS_PRIMARY};${DNS_SECONDARY}

    - path: /etc/NetworkManager/dnsmasq.d/ocp-sno.conf
      mode: 0644
      overwrite: true
      contents:
        inline: |
          local=/${FULL_HOSTNAME}/
          address=/api.${FULL_HOSTNAME}/${IP_ADDRESS}
          address=/api-int.${FULL_HOSTNAME}/${IP_ADDRESS}
          address=/apps.${FULL_HOSTNAME}/${IP_ADDRESS}
          listen-address=127.0.0.1
          listen-address=${IP_ADDRESS}
          cache-size=1000
          server=${DNS_PRIMARY}
          server=${DNS_SECONDARY}

    - path: /etc/NetworkManager/conf.d/dnsmasq.conf
      mode: 0644
      overwrite: true
      contents:
        inline: |
          [main]
          dns=dnsmasq

    - path: /etc/ssh/sshd_config.d/01-password-auth.conf
      mode: 0644
      overwrite: true
      contents:
        inline: |
          PasswordAuthentication yes

systemd:
  units:
    - name: dnsmasq.service
      enabled: false
      mask: true
