apiVersion: operator.openshift.io/v1
kind: DNS
metadata:
  name: default
spec:
  upstreamResolvers:
    policy: Sequential
    upstreams:
    - type: Network
      address: ${IP_ADDRESS}
      port: 53
